button#save-btn {
  background-color: #E46643;
  background-repeat: no-repeat;
  background-image: url('../../../../images/save-icon.png');
  background-position: center;
  background-size: 40px;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 8px;
  border: none;
  border-radius: 5px;

}

button#save-btn:hover {
  background-color: #F39765;
}
