#sideNavi-container {
  width: 250px;
  background-color: #1D1F22;
  height: 667px;
  position: relative;
  margin-left: -250px;
  /* z-index: 2; */
  /* display: flex; */
  /* justify-content: center; */
}

h3#title {
  font-family: 'Commissioner', sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 5px;
  text-align: left;
  text-transform: uppercase;
  color: white;
  text-align: center;
  top: 27px;
  position: relative
}
